.avatar {
	height: 30px;
}

.codeberg-design .table tr:first-child {
	white-space: nowrap;
}

.codeberg-design .table td, .codeberg-design .table th {
	background-clip: padding-box;
	background-color: white;
}

.codeberg-design .table tr:hover td, .codeberg-design .table-hover tbody tr:hover th {
	background-color: #f2f2f2 !important;
}

.codeberg-design .dropdown-item.active {
	color: #45a3fb;
}

.cb-mod-tool--input-box {
	column-gap: 15px;
	row-gap: 10px;
}

.codeberg-design .cb-mod-tool--tab-button-container {
	display: flex;
	padding: 5px;
}

.codeberg-design .cb-mod-tool--tab-button-container .cb-mod-tool--tab-button {
	flex-grow: 1;
	border: none;
	border-bottom: 2px solid transparent;
	background-color: inherit;
	padding: 8px 16px;
	cursor: pointer;
}

.codeberg-design .cb-mod-tool--tab-button-container .cb-mod-tool--tab-button.active {
	color: #45a3fb;
	border-bottom-color: #45a3fb;
}

.codeberg-design .cb-mod-tool--tab-panel-container {
	margin-bottom: 12px;
}

.codeberg-design .cb-mod-tool--tab-panel-container .cb-mod-tool--tab-panel {
	display: none;
	flex-wrap: wrap;
}
.codeberg-design .cb-mod-tool--tab-panel-container .cb-mod-tool--tab-panel.active {
	display: flex;
}

.codeberg-design .btn.btn-primary.deactivated {
	pointer-events: none;
	cursor: default;
}

.codeberg-design #cb-list-action-panels-container .cb-mod-tool--tab-panel {
	flex-direction: column;
}

@media screen and (max-width: 460px) {
	.codeberg-design .cb-mod-tool--input-box {
		flex-direction: column;
	}

	.codeberg-design .cb-mod-tool--input-box button {
		width: 100%;
	}
}

